@charset "UTF-8";

/*


****
****

Date: DD/MM/AAAA
Organization of the Styles Sheets

** FRAMEWORK'S CSS
    -- compass


** GLOBAL
    -- variables
    -- placeholder
    -- mixins
    -- normalize
    -- reset
    -- fonts
    -- animations

** MODULES
    -- helpers
    -- grid
    -- menu
    -- form
    -- tabelas
    -- listas
    -- tabs
    -- tooltip
    -- modal
    -- box
    -- galerias

** SECTIONS
	-- header
	-- footer
	-- inner content

** CUSTOM SECTIONS
    --

****
****

*/


// **
// FRAMEWORK'S CSS
// **
@import "compass";


// **
// GLOBAL
// **
@import "global/animate";
@import "global/variables";
@import "global/placeholder";
@import "global/mixins";
@import "global/normalize";
@import "global/reset";
@import "global/fonts";
//@import "global/animations";

// **
// MODULES
// **
@import "modules/helpers";
@import "modules/bootstrap";
@import "modules/grid";
@import "modules/menu";
@import "modules/form";
@import "modules/tabelas";
@import "modules/listas";
@import "modules/tabs";
@import "modules/tooltip";
@import "modules/modal";
@import "modules/box";
@import "modules/galerias";
@import "modules/buttons";


// **
// SECTIONS
// **
@import "sections/header";
@import "modules/menu";
@import "sections/footer";
@import "sections/inner-content";
@import "sections/query";


// **
// CUSTOM SECTIONS
// **



#owl-demo .item img{
display: block;
width: 100%;
height: auto;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/*
 *  Core Owl Carousel CSS File
*/


// posicionamento das bolinhas e das setas
.owl-theme .owl-controls{
	top:-50px;
	text-align: center;
    position: relative
}

//bolinhas
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    background:$cl3;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background:$cl1;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
//setas
.owl-next, .owl-prev{
    @include size(45px);
    cursor: pointer;
    border-radius: 100%;
    @extend .img-rep;
}
.owl-prev{
    background:url('../images/prev.png') center no-repeat;
    margin-left:10px;
    float: left;
}
.owl-next{
    background:url('../images/next.png') center no-repeat;
    margin-right:20px;
    float: right;
}


.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}
/*
|----------------------------------------------
| main custom
|----------------------------------------------
*/





.link-center{
    width: 15%;
    margin: 35px auto;
    @extend %center;
    padding: 10px 0;
    border:1px solid $cl3;
    font: ft-convert(14) $ft2;
    text-align: center;
        &:hover{
           border:1px solid $cl2;
            color: $cl2;
        }
}

.img-crop{
		display: block;
		height: 170px;
		margin: 0 auto;
		overflow: hidden;
		img{
				margin-bottom: 7px;
				//width: 100%;
		}
}

/* classes constants */
.dn {display:none;}
.db {display:block;}
.img-rep {display:block; overflow:hidden; text-indent:-9999px;}
.fl-lf {float:left;}
.fl-rg {float:right;}
.mr-lf {margin-left:0;}
.mr-bt {margin-bottom:0;}

/* mudar selecao */
::-moz-selection {color:#000; background:#d74a2c; text-shadow:none;}
::selection {color:#000; background:#d74a2c; text-shadow:none;}




*,
*:after,
*:before {
  @include box-sizing(border-box);
}

/* css micro clearfix */
.cf{@extend %clearfix}




/* css micro clearfix */
/*
.cf:before, .cf:after {content:""; display:table;}
.cf:after {clear:both;}
 for ie 6/7 (trigger haslayout)

.cf {zoom:1;}

*/
